@import "tailwindcss";

body {
  background: #000000;
  background: radial-gradient(
    ellipse farthest-side at center center,
    #170000 0%,
    #080808 80%
  );
  background-repeat: no-repeat;
  height: 100%;
  margin-bottom: 200px;
}
